# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
venv/
.coverage

# local 
reference/
instructions.md

# uv
.venv
.python-version
pyproject.toml

#claude
CLAUDE.md

.DS_Store
.env